<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deuteriun.system.mapper.SysUserMapper">

    <sql id="Base_Column_List">
        id, user_name, user_nick_name, password, create_date, modify_date, del, ban
    </sql>

    <select id="getUserByName" resultType="com.deuteriun.system.entity.SysUser">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where user_name = #{userName} and del = 0
    </select>

    <select id="getUsersByNames" resultType="com.deuteriun.system.entity.SysUser">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where user_name in
        <foreach item="item" index="index" collection="index"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        and and del = 0
    </select>

</mapper>
